<ion-card mode="ios">
  <div class="card-container">
    <div class="image-container">
      <img
        src="https://images.freeimages.com/images/premium/previews/4992/49923492-portrait-of-puppy.jpg"
        alt="Perrito"
      />
    </div>
    <div class="info-container">
      <div class="title">¡Balto ya en casita!</div>
      <div class="description">
        {{ display_description }}
      </div>
      <div class="actions">
        <div class="icon-button edit">
          <ion-icon name="pencil-outline"></ion-icon>
        </div>
        <div class="icon-button delete">
          <ion-icon name="trash-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-card>
