.image-pub {
  text-align: center;
  img {
    max-width: 80%;
    border-radius: 5px;
  }
}

.description-pub {
  color: #666;
  white-space: pre-line;
  white-space: pre-wrap;
}

.date-pub {
  text-align: end;
  color: rgb(133, 133, 133);
}
