<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center logo-container">
    <img src="/assets/icon/logo_GPA.jpg" alt="Logo GPA" width="160" height="160" />
  </ion-row>
  <div>
    <h1 class="lasts-reports">Últimos reportes</h1>
    <ion-card mode="ios">
      <ion-card-header>
        <ion-row class="ion-justify-content-between ion-align-content-center">
          <h3 class="name-report ion-no-margin">Alex Vélez Llaque</h3>
          <h5 class="more-info ion-no-margin">Hoy</h5>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="more-info"> Recorrido </ion-row>
        <ion-row>
          <ion-row class="report-info">
            <span class="report-measurement food-amount">12</span>
            <span class="report-measurement-descr">Jarras de comida repartidas</span>
          </ion-row>
          <ion-row class="report-info">
            <span class="report-measurement food-remaining"
              ><ion-icon src="/assets/icon/food.svg"></ion-icon
            ></span>
            <span class="report-measurement-descr">Un cuarto de comida restante</span>
          </ion-row>
          <ion-row class="report-info">
            <span
              class="report-measurement anomalies-number"
              [ngStyle]="0>0? {'color':'#EAD51E'} : {'color':'#53BB42'}"
              >0</span
            >
            <span class="report-measurement-descr">Anomalías reportadas</span>
          </ion-row>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-header>
        <ion-row class="ion-justify-content-between ion-align-content-center">
          <h3 class="name-report ion-no-margin">Alex Vélez Llaque</h3>
          <h5 class="more-info ion-no-margin">Hoy</h5>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="more-info"> Recorrido </ion-row>
        <ion-row>
          <ion-row class="report-info">
            <span class="report-measurement food-amount">12</span>
            <span class="report-measurement-descr">Jarras de comida repartidas</span>
          </ion-row>
          <ion-row class="report-info">
            <span class="report-measurement food-remaining"
              ><ion-icon src="/assets/icon/food.svg"></ion-icon
            ></span>
            <span class="report-measurement-descr">Un cuarto de comida restante</span>
          </ion-row>
          <ion-row class="report-info">
            <span
              class="report-measurement anomalies-number"
              [ngStyle]="0>0? {'color':'#EAD51E'} : {'color':'#53BB42'}"
              >0</span
            >
            <span class="report-measurement-descr">Anomalías reportadas</span>
          </ion-row>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-header>
        <ion-row class="ion-justify-content-between ion-align-content-center">
          <h3 class="name-report ion-no-margin">Alex Vélez Llaque</h3>
          <h5 class="more-info ion-no-margin">Hoy</h5>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="more-info"> Recorrido </ion-row>
        <ion-row>
          <ion-row class="report-info">
            <span class="report-measurement food-amount">12</span>
            <span class="report-measurement-descr">Jarras de comida repartidas</span>
          </ion-row>
          <ion-row class="report-info">
            <span class="report-measurement food-remaining"
              ><ion-icon src="/assets/icon/food.svg"></ion-icon
            ></span>
            <span class="report-measurement-descr">Un cuarto de comida restante</span>
          </ion-row>
          <ion-row class="report-info">
            <span
              class="report-measurement anomalies-number"
              [ngStyle]="0>0? {'color':'#EAD51E'} : {'color':'#53BB42'}"
              >0</span
            >
            <span class="report-measurement-descr">Anomalías reportadas</span>
          </ion-row>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
