<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitudes de adopción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="adoption-card" mode="ios">
    <ion-card-header>
      <ion-row class="ion-justify-content-between ion-align-content-center">
        <h3 class="name-request ion-no-margin">Eunice Gálvez</h3>
        <h5 class="more-info ion-no-margin">Hoy</h5>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="more-info"> eugalvez@espol.edu.ec </ion-row>
      <ion-row class="pet-to-adopt ion-align-content-center">
        <ion-icon src="/assets/icon/gato.svg"></ion-icon>
        <p>Michi</p>
      </ion-row>
      <p>Vive en Quito en un departamento, le gustan muchos los gatos y es una persona responsable</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="adoption-card" mode="ios">
    <ion-card-header>
      <ion-row class="ion-justify-content-between ion-align-content-center">
        <h3 class="name-request ion-no-margin">Juan Nebel</h3>
        <h5 class="more-info ion-no-margin">Ayer</h5>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="more-info"> juan@espol.edu.ec </ion-row>
      <ion-row class="pet-to-adopt ion-align-content-center">
        <ion-icon src="/assets/icon/perro.svg"></ion-icon>
        <p>Balto</p>
      </ion-row>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, cum!</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="adoption-card" mode="ios">
    <ion-card-header>
      <ion-row class="ion-justify-content-between ion-align-content-center">
        <h3 class="name-request ion-no-margin">Juan Pérez</h3>
        <h5 class="more-info ion-no-margin">Hace 2 días</h5>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="more-info"> pedro@espol.edu.ec </ion-row>
      <ion-row class="pet-to-adopt ion-align-content-center">
        <ion-icon src="/assets/icon/gato.svg"></ion-icon>
        <p>Michi</p>
      </ion-row>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor alias enim quam recusandae illo? Vel
        dolor atque eum reiciendis dolore?
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
