.adoption-card {
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
  border-radius: 10px !important;
  margin-bottom: 20px;
}

ion-card-header {
  padding-bottom: 5px;
}

ion-card-content > .more-info {
  margin-bottom: 10px;
}

.name-request {
  max-width: 80%;
  display: inline;
  font-weight: bold;
  color: var(--ion-color-primary);
}

.more-info {
  color: gray;
  font-size: 18px;
}

.pet-to-adopt {
  margin: 10px 0;
  ion-icon {
    margin-right: 5px;
    font-size: 25px;
  }
  p {
    margin-top: 3px;
  }
}

p {
  font-size: 16px;
  margin-top: 10px;
}
