<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Administrar noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-manage-card *ngFor="let noticia of noticias" [publicacion]="noticia"></app-manage-card>
  <ion-fab slot="fixed" style="bottom: 10px; right: 15px">
    <ion-fab-button routerLink="anadir" class="add-button"
      ><ion-icon name="add-outline"></ion-icon
    ></ion-fab-button>
  </ion-fab>
</ion-content>
