<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center ion-margin-top" *ngIf="loading; else loadedContent">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </ion-row>
  <ng-template #loadedContent>
    <div class="container">
      <div class="header">
        <div class="user-image">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/gpa-findmepet.appspot.com/o/monik.jpg?alt=media&token=d58191af-8194-477e-accd-5ed90ddf1700"
            alt="Imagen del usuario"
          />
        </div>
        <div class="user-info">
          <h2>Katherine Romero Llaque</h2>
          <h5>Voluntaria - Refugio</h5>
        </div>
      </div>
      <div class="body">
        <ion-row>
          <ion-icon name="mail-outline"></ion-icon>
          <div>alanvele@espol.edu.ec</div>
        </ion-row>
        <ion-row>
          <ion-icon name="person-outline"></ion-icon>
          <div>Alex</div>
        </ion-row>
        <ion-row>
          <ion-icon src="/assets/icon/birthday.svg"></ion-icon>
          <div>25 años</div>
        </ion-row>
        <ion-row>
          <ion-icon src="/assets/icon/student.svg"></ion-icon>
          <div>Es estudiante de ESPOL</div>
        </ion-row>
        <ion-row>
          <ion-icon name="calendar-outline"></ion-icon>
          <div>Lunes, Miércoles</div>
        </ion-row>
      </div>
    </div>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-button expand="block" [routerLink]="['../editar',1]" mode="ios"> Editar usuario </ion-button>
        <ion-button class="ion-margin-vertical" expand="block" color="danger" mode="ios">
          Eliminar usuario
        </ion-button>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
