<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitud de adopción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img-container ion-margin-vertical">
    <img
      src="https://www.hola.com/imagenes/estar-bien/20210217184541/gatos-gestos-lenguaje-significado/0-922-380/gatos-gestos-m.jpg"
      alt="Imagen mascota a adoptar"
    />
    <ion-text color="primary">Mimí</ion-text>
  </div>
  <ion-list>
    <ion-item-group>
      <ion-item-divider mode="md">Información personal</ion-item-divider>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-text>Alex</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Apellido:</ion-label>
        <ion-text>Vélez</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Provincia:</ion-label>
        <ion-text>Guayas</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Ciudad:</ion-label>
        <ion-text>Guayaquil</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Fecha de nacimiento:</ion-label>
        <ion-text>02/04/2001</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Estado civil:</ion-label>
        <ion-text>Soltero</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Teléfono fijo:</ion-label>
        <ion-text>04 236 9950</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Celular:</ion-label>
        <ion-text>0958768509</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Fecha de nacimiento:</ion-label>
        <ion-text>02/04/2001</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Dirección:</ion-label>
        <ion-text>Sucre 709 e/ la Sexta y la Séptima y mas allaaaaaaaaa lejos lejos lejos</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Correo electrónico:</ion-label>
        <ion-text>alanvele@espol.edu.ec</ion-text>
      </ion-item>
    </ion-item-group>
    <ion-item-group class="ion-margin-top">
      <ion-item-divider mode="md">Información solicitud</ion-item-divider>
      <ion-item>
        <ion-label>Cómo conoció GPA:</ion-label>
        <ion-text>Redes sociales</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Niños en su casa:</ion-label>
        <ion-text>4</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Adultos en su casa:</ion-label>
        <ion-text>2</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>La familia lo acepta:</ion-label>
        <ion-text>Sí</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Tiene familiar alérgico:</ion-label>
        <ion-text>No</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Se compromete a esterilizarlo:</ion-label>
        <ion-text>Sí</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Tipo de vivienda:</ion-label>
        <ion-text>Caña</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Es alquilada:</ion-label>
        <ion-text>No</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Tiene mascota:</ion-label>
        <ion-text>No</ion-text>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-row class="ion-justify-content-center decision">
    <ion-col size="5">
      <ion-button mode="ios" expand="block" color="medium">Rechazar</ion-button>
    </ion-col>
    <ion-col size="5">
      <ion-button mode="ios" expand="block">Aceptar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
