ion-grid {
  padding: 0;
  .top-row {
    background-color: #f9c49a;
    height: 350px;
    border-bottom-right-radius: 60px;
    @media (max-width: 175px) {
      height: 400px;
    }
    @media (max-width: 120px) {
      height: 450px;
    }
  }
  .bottom-row {
    background-color: white;
    //height: 600px;
    border-top-left-radius: 60px;
  }
}
.profile-row {
  height: 100%;
  width: 100%;
  
}
.div-bg {
  background-color: #f9c49a;
  
}
