<ion-header>
  <ion-toolbar>
    <ion-title>Mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin-start ion-margin-vertical">
    <ion-chip class="animal-chip">
      <ion-label>
        <ion-text color="secondary"> Gatos </ion-text>
      </ion-label>
    </ion-chip>
    <ion-chip class="animal-chip">
      <ion-label>
        <ion-text color="secondary"> Perros </ion-text>
      </ion-label>
    </ion-chip>
    <ion-searchbar
      animated
      clearIcon
      placeholder="Buscar"
      (ionChange)="buscar( $event )"
    ></ion-searchbar>
  </div>
  <div>
    <ion-card *ngFor="let animal of animals | filtro: textoBuscar ">
      <ion-list>
        <ion-item lines="none">
          <ion-thumbnail>
            <img [src]="animal.img" />
          </ion-thumbnail>
          <ion-label class="ion-margin-start ion-margin-vertical ion-text-wrap">
            <h2>{{animal.name}}</h2>
            <ion-row class="ion-margin-vertical">
              <ion-icon id="icon-location" name="location-outline"></ion-icon>
              <h3>{{animal.location}}</h3>
              <ion-col class="ion-no-margin ion-no-padding">
                <div class="ion-text-end">
                  <h3>{{animal.age}}</h3>
                </div>
              </ion-col>
            </ion-row>
            <p>{{animal.description}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
