<div class="center-contenedor">
  <ion-card id="upload-image">
    <ion-row *ngIf="!image64 && !imageUrl; else imagen" class="ion-justify-content-center ion-no-padding">
      <div style="margin-top: 45px">
        <ion-icon id="icon-camera" name="image"></ion-icon>
      </div>
    </ion-row>
    <ng-template #imagen>
      <img width="100%" height="140px" [src]="image64 || imageUrl" class="image-preview" />
    </ng-template>
  </ion-card>
</div>
<div class="center-contenedor">
  <ion-button (click)="selectImage()" mode="ios">
    <ion-icon slot="start" name="arrow-up-circle"></ion-icon>
    {{ mode == "anadir" ? "Subir imagen" : "Cambiar imagen" }}
  </ion-button>
</div>
