<div class="center-contenedor">
  <ion-card *ngIf="mode == 'anadir'" id="upload-image">
    <ion-row *ngIf="!image64" class="ion-justify-content-center ion-no-padding">
      <div style="margin-top: 45px">
        <ion-icon id="icon-camera" name="image"></ion-icon>
      </div>
    </ion-row>
    <img *ngIf="image64" width="140px" height="140px" [src]="image64" class="image-preview" />
  </ion-card>
  <ion-card *ngIf="mode == 'editar' && petToEdit" id="upload-image">
    <img width="100%" height="140px" [src]="image64? image64 : petToEdit.imagenUrl" class="image-preview" />
  </ion-card>
</div>
<div class="center-contenedor">
  <ion-button (click)="selectImage()" mode="ios">
    <ion-icon slot="start" name="arrow-up-circle"></ion-icon>
    {{ mode == "anadir" ? "Subir imagen" : "Cambiar imagen" }}
  </ion-button>
</div>
