

.content{
  margin: auto;
  position: fixed;
   left: 0; bottom: 0px; right: 0;
  height: 60%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 20px;
  padding-top: 15px;
  background: #FAFCFF url('../../../../assets/img/naranja.png') no-repeat  center right;


}
#icon-location {
  color: #ec823a;
  font-size: larger;
}

.icon-check {
  color: #53BB42;
  font-size: larger!important;
}

.icon-cross {
  color: #FC4F4F;
  font-size: larger!important;
}

#edit-icon {
  font-size: large !important;
}

#delete-icon {
  font-size: large !important;
}

ion-list {
  --ion-background-color: transparent  !important;

  ion-item {
    --ion-background-color: inherit  !important;
  }
}

.scrollable {
  overflow: scroll
}