<ion-header>
  <ion-toolbar>
    <ion-title>specific-pet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img"></div>

  <div class="content">
    <ion-row>
      <ion-text color="dark"> Nombre </ion-text>
      <ion-text color="dark"> Edad </ion-text>
    </ion-row>
    <ion-row>
      <ion-icon id="icon-location" name="location-outline"></ion-icon>
      <ion-text color="dark"> Refugio </ion-text>
    </ion-row>
    <ion-row>
      
      
      <ion-chip outline color="primary">
        <ion-icon name="paw-outline"></ion-icon>
        <ion-label>Tímido</ion-label>
        
      </ion-chip>
      <ion-chip outline color="primary">
        <ion-icon name="male-female-outline"></ion-icon>
        <ion-label>Hembra</ion-label>
        
      </ion-chip>
    </ion-row>
    <ion-row>
      <div>
        Es un gato timido ideal para personas como tu. Come bastante y juega mucho
      </div>
    </ion-row>
    <ion-row>
      <ion-list>
        <ion-label color="primary" class="label">
          hola
        </ion-label>
        <ion-item>
          <p item-left class="list-time orange-border">
           Esterilizado
          </p>        
          <ion-checkbox slot="end" color="primary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <p item-left class="list-time orange-border">
            all day
          </p>        
          Tax day
        </ion-item>
        <ion-item>
          <p item-left class="list-time purple-border">
            <span class="bold">8:00 PM</span><br>
            11:00 PM
          </p>        
          Another Task
        </ion-item>
      </ion-list>
      
    </ion-row>
  </div>
</ion-content>
