<form>
  <div class="ion-justify-content ion-margin-horizontal ion-margin-top">
    <div>
      <ion-row class="ion-margin-start">
        <ion-text color="primary"> 1. </ion-text>
        <div class="title">
          <ion-text color="dark"> Nombre </ion-text>
        </div>
      </ion-row>

      <ion-item lines="none" class="ion-margin-horizontal">
        <ion-input
          type="text"
          size="10"
          value = "Nombre mascota"
          disabled = "true"
        ></ion-input>
      </ion-item>
    </div>

    <ion-row class="ion-margin-start"
      ><ion-text color="primary"> 2. </ion-text>
      <div class="title">
        <ion-text color="dark"> Edad </ion-text>
      </div>
    </ion-row>

    <ion-row class="my-vertical-margin">
      <ion-col size="4" class="ion-no-margin ion-align-items-center">
        <ion-label class="number-label">años</ion-label>
        <ion-item lines="none">
          <ion-input type="number"  class="age" value="5" disabled="true"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4" class="ion-no-margin">
        <ion-label class="number-label">meses</ion-label>
        <ion-item lines="none">
          <ion-input type="number" value='3' disabled="true"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4" class="ion-no-margin">
        <ion-label class="number-label">días</ion-label>
        <ion-item lines="none">
          <ion-input type="number" placeholder="días"  value='0' disabled="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-start">
      <ion-text color="primary"> 3. </ion-text>
      <div class="title">
        <ion-text color="dark"> Sexo </ion-text>
      </div>
    </ion-row>

    <ion-item lines="none" class="ion-margin-horizontal">
      <ion-input
        type="text"
        size="10"
        value = "Masculino"
        disabled = "true"
      ></ion-input>
    </ion-item>
    <div>
      <ion-row class="ion-margin-start">
        <ion-text color="primary"> 4. </ion-text>
        <div class="title">
          <ion-text color="dark"> Color </ion-text>
        </div>
      </ion-row>

      <ion-item lines="none" class="ion-margin-horizontal" [class]="new? 'new':''">
        <ion-input
          type="text"
          size="10"
          [value] = "new? 'rojo':'amarillo'"
          disabled = "true"
        ></ion-input>
      </ion-item>
    </div>
    <ion-row class="ion-margin-start">
      <ion-text color="primary"> 5. </ion-text>
      <div class="title">
        <ion-text color="dark"> Ubicación </ion-text>
      </div>
    </ion-row>

    <ion-item lines="none" class="ion-margin-horizontal" [class]="new? 'new':''">
      <ion-input
        type="text"
        size="10"
        [value] = "new? 'FIEC':'FIMCP'"
        disabled = "true"
      ></ion-input>
    </ion-item>
    <ion-row class="ion-margin-start">
      <ion-text color="primary"> 6. </ion-text>
      <div class="title">
        <ion-text color="dark"> Caracteristicas </ion-text>
      </div>
    </ion-row>
    <ion-list>
      <ion-item lines="none" class="no-margin-item" [class]="new? 'new':''">
        <ion-label>Esterilizado</ion-label>
        <ion-checkbox slot="end" color="primary"  mode="ios"  disabled="true" [checked]="new?true:false"></ion-checkbox>
      </ion-item>
      <ion-item lines="none" class="no-margin-item">
        <ion-label>Adoptado</ion-label>
        <ion-checkbox slot="end" color="primary" disabled="true" mode="ios"></ion-checkbox>
      </ion-item>
      <ion-item lines="none" class="no-margin-item"[class]="new? 'new':''">
        <ion-label>Caso Externo</ion-label>
        <ion-checkbox slot="end" color="primary" disabled="true" mode="ios" [checked]="new?true:false"></ion-checkbox>
      </ion-item>
      <ion-item lines="none" class="no-margin-item">
        <ion-label>Es adopable</ion-label>
        <ion-checkbox slot="end" color="primary" disabled="true" mode="ios"></ion-checkbox>
      </ion-item>
    </ion-list>
    <div>
      <ion-row class="ion-margin-start ion-margin-top">
        <ion-text color="primary"> 8. </ion-text>
        <div class="title">
          <ion-text color="dark"> Tipo de animal </ion-text>
        </div>
      </ion-row>

      <ion-item lines="none" class="ion-margin-horizontal">
        <ion-input
          type="text"
          size="10"
          value = "Perro"
          disabled = "true"
        ></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-row class="ion-margin-start">
        <ion-text color="primary"> 9. </ion-text>
        <div class="title">
          <ion-text color="dark"> Descripción </ion-text>
        </div>
      </ion-row>

      <ion-item lines="none">
        <ion-textarea
          auto-grow
          rows="4"
          disabled="true"
        ></ion-textarea>
      </ion-item>
    </div>
  </div>
</form>