<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>Agregar mascota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-contenedor">
    <ion-card id="upload-image">
      <ion-row *ngIf="!image64" class="ion-justify-content-center ion-no-padding">
        <div style="margin-top: 45px">
          <ion-icon id="icon-camera" name="image"></ion-icon>
        </div>
      </ion-row>
      <img
        *ngIf="image64"
        width="140px"
        height="140px"
        [src]="image64"
        class="image-preview"
        alt="photo preview"
      />
    </ion-card>
  </div>
  <div class="center-contenedor">
    <ion-button (click)="selectImage()" mode="ios">
      <ion-icon slot="start" name="arrow-up-circle"></ion-icon> Subir imagen
    </ion-button>
  </div>
  <form [formGroup]="mascota">
    <div class="ion-justify-content ion-margin-horizontal ion-margin-top">
      <div>
        <ion-row class="ion-margin-start">
          <ion-text color="primary"> 1. </ion-text>
          <div class="title">
            <ion-text color="dark"> Nombre </ion-text>
            <ion-text color="danger"> * </ion-text>
          </div>
        </ion-row>

        <ion-item lines="none" class="ion-margin-horizontal">
          <ion-input
            type="text"
            size="10"
            placeholder="Ej: Doraemon, Mimi"
            formControlName="nombre"
          ></ion-input>
        </ion-item>
      </div>

      <ion-row class="ion-margin-start"
        ><ion-text color="primary"> 2. </ion-text>
        <div class="title">
          <ion-text color="dark"> Edad </ion-text>
          <ion-text color="danger"> * </ion-text>
        </div>
      </ion-row>

      <ion-row class="my-vertical-margin">
        <ion-col size="4" class="ion-no-margin">
          <ion-item lines="none">
            <ion-input type="number" placeholder="años" formControlName="years"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4" class="ion-no-margin">
          <ion-item lines="none">
            <ion-input type="number" placeholder="meses" formControlName="months"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4" class="ion-no-margin">
          <ion-item lines="none">
            <ion-input type="number" placeholder="días" formControlName="days"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-start">
        <ion-text color="primary"> 3. </ion-text>
        <div class="title">
          <ion-text color="dark"> Sexo </ion-text>
          <ion-text color="danger"> * </ion-text>
        </div>
      </ion-row>

      <ion-item lines="none" class="ion-margin-top ion-margin-horizontal">
        <ion-label>Sexo de la mascota</ion-label>
        <ion-select
          placeholder=" Elegir uno"
          okText="Ok"
          cancelText="Cancelar"
          formControlName="sexo"
          mode="ios"
        >
          <ion-select-option value="H">Hembra</ion-select-option>
          <ion-select-option value="M">Macho</ion-select-option>
        </ion-select>
      </ion-item>
      <div>
        <ion-row class="ion-margin-start">
          <ion-text color="primary"> 4. </ion-text>
          <div class="title">
            <ion-text color="dark"> Color </ion-text>
            <ion-text color="danger"> * </ion-text>
          </div>
        </ion-row>

        <ion-item lines="none" class="ion-margin-top ion-margin-horizontal">
          <ion-input
            type="text"
            size="10"
            placeholder="Ej: Amarillo, blanco con manchas negras"
            formControlName="color"
          ></ion-input>
        </ion-item>
      </div>
      <ion-row class="ion-margin-start">
        <ion-text color="primary"> 5. </ion-text>
        <div class="title">
          <ion-text color="dark"> Ubicación </ion-text>
          <ion-text color="danger"> * </ion-text>
        </div>
      </ion-row>

      <ion-item lines="none" class="ion-margin-top ion-margin-horizontal">
        <ion-label>Lugar</ion-label>
        <ion-select
          placeholder="Seleccione uno"
          okText="Ok"
          cancelText="Cancelar"
          formControlName="ubicacion"
          mode="ios"
        >
          <ion-select-option value="Refugio">Refugio</ion-select-option>
          <ion-select-option value="Externo">Externo</ion-select-option>
          <ion-select-option value="Dentro espol">Dentro de Espol</ion-select-option>
          <ion-select-option value="Hogar temporal">Hogar Temporal</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-row class="ion-margin-start">
        <ion-text color="primary"> 6. </ion-text>
        <div class="title">
          <ion-text color="dark"> Caracteristicas </ion-text>
          <ion-text color="danger"> * </ion-text>
        </div>
      </ion-row>
      <ion-list>
        <ion-item lines="none" class="no-margin-item">
          <ion-label>Esterilizado</ion-label>
          <ion-checkbox slot="end" color="primary" formControlName="esterilizado" mode="ios"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="no-margin-item">
          <ion-label>Adoptado</ion-label>
          <ion-checkbox slot="end" color="primary" formControlName="adoptado" mode="ios"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="no-margin-item">
          <ion-label>Caso Externo</ion-label>
          <ion-checkbox slot="end" color="primary" formControlName="caso_externo" mode="ios"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="no-margin-item">
          <ion-label>Es adopable</ion-label>
          <ion-checkbox slot="end" color="primary" formControlName="adoptable" mode="ios"></ion-checkbox>
        </ion-item>
      </ion-list>
      <div>
        <ion-row class="ion-margin-start ion-margin-top">
          <ion-text color="primary"> 7. </ion-text>
          <div class="title">
            <ion-text color="dark"> Personalidad </ion-text>
            <ion-text color="danger"> * </ion-text>
          </div>
        </ion-row>

        <ion-item lines="none" class="ion-margin-top ion-margin-horizontal">
          <ion-label>Personalidad</ion-label>
          <ion-select
            placeholder="Seleccione uno"
            okText="Ok"
            cancelText="Cancelar"
            formControlName="descripcion"
            mode="ios"
          >
            <ion-select-option value="Tímido">Tímido</ion-select-option>
            <ion-select-option value="Dócil">Dócil</ion-select-option>
            <ion-select-option value="Sociable">Sociable</ion-select-option>
            <ion-select-option value="Féroz">Féroz</ion-select-option>
            <ion-select-option value="Juguetón">Juguetón</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div>
        <ion-row class="ion-margin-start ion-margin-top">
          <ion-text color="primary"> 8. </ion-text>
          <div class="title">
            <ion-text color="dark"> Tipo de animal </ion-text>
            <ion-text color="danger"> * </ion-text>
          </div>
        </ion-row>

        <ion-item lines="none" class="ion-margin-top ion-margin-horizontal">
          <ion-label>Tipo</ion-label>
          <ion-select
            placeholder="Seleccione uno"
            okText="Ok"
            cancelText="Cancelar"
            formControlName="tipo"
            mode="ios"
          >
            <ion-select-option value="Perro">Perro</ion-select-option>
            <ion-select-option value="Gato">Gato</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div>
        <ion-row class="ion-margin-start">
          <ion-text color="primary"> 9. </ion-text>
          <div class="title">
            <ion-text color="dark"> Descripción </ion-text>
          </div>
        </ion-row>

        <ion-item lines="none">
          <ion-textarea
            auto-grow
            rows="4"
            placeholder="Breve descripción de la mascota"
            formControlName="descripcion"
          ></ion-textarea>
        </ion-item>
      </div>
      <ion-col class="ion-no-padding">
        <ion-button expand="block" fill="outline" (click)="onSubmit()" mode="ios"> Guardar </ion-button>
        <ion-button
          class="ion-margin-vertical"
          expand="block"
          fill="outline"
          color="medium"
          (click)="goback()"
          mode="ios"
        >
          Cancelar
        </ion-button>
      </ion-col>
    </div>
  </form>
</ion-content>
