<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>{{actionType + " " + publicationsType}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center" *ngIf="loading; else loadedContent">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </ion-row>
  <ng-template #loadedContent>
    <div class="ion-justify-content ion-margin-horizontal ion-margin-top">
      <form [formGroup]="publicationForm">
        <div>
          <ion-item lines="none" class="ion-margin-horizontal">
            <ion-input type="text" size="10" placeholder="Título" formControlName="title"></ion-input>
          </ion-item>
        </div>
        <app-image-picker
          #imgPicker
          [mode]='actionType=="Agregar"?"anadir":"editar"'
          [imageUrl]="pubToEdit?.imagenUrl"
        ></app-image-picker>
        <div class="ion-margin-top ion-padding-top">
          <ion-item lines="none" class="ion-margin-horizontal">
            <ion-textarea rows="6" placeholder="Descripción..." formControlName="description"></ion-textarea>
          </ion-item>
        </div>
      </form>
      <ion-col class="ion-no-padding">
        <ion-button expand="block" fill="outline" (click)="submitPublication()" mode="ios">
          Guardar
        </ion-button>
        <ion-button
          class="ion-margin-vertical"
          expand="block"
          fill="outline"
          color="medium"
          (click)="goback()"
          mode="ios"
        >
          Cancelar
        </ion-button>
      </ion-col>
    </div>
  </ng-template>
</ion-content>
