<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>{{mode=='anadir'?'Agregar':'Editar'}} {{publicationsType}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center" *ngIf="loading; else loadedContent">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </ion-row>
  <ng-template #loadedContent>
    <div class="ion-justify-content ion-margin-horizontal ion-margin-top">
      <form [formGroup]="publicationForm">
        <div>
          <ion-item lines="none" class="ion-margin-horizontal">
            <ion-input type="text" size="10" placeholder="Título" formControlName="title"></ion-input>
          </ion-item>
        </div>
        <app-image-picker #imgPicker [mode]="mode" [imageUrl]="pubToEdit?.imagenUrl"></app-image-picker>
        <div class="ion-margin-top ion-padding-top">
          <ion-item lines="none" class="ion-margin-horizontal">
            <ion-textarea rows="6" placeholder="Descripción..." formControlName="description"></ion-textarea>
          </ion-item>
        </div>
      </form>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-button expand="block" (click)="submitPublication()" mode="ios">
            {{mode=='anadir'?'Guardar':'Actualizar'}}
          </ion-button>
          <ion-button class="ion-margin-vertical" expand="block" color="medium" (click)="goback()" mode="ios">
            Cancelar
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ng-template>
</ion-content>
